body, html{
    height: 100%;
    margin: 0;
    background: #f5f5f5;
}
@font-face { font-family: eEsquadro; src: url('../../assets/fonts/eEsquadro.ttf'); }
h1, h2{
    font-family: 'eEsquadro' !important;
}
.max-width-element{
    width: 1110px;
    max-width: 100%;
    margin: auto auto;
}
#list-nav-items{
    margin: 0;
}
#back-navbar:not(.active){
    background: none;
    width: 100vw;
    height: 85px;
    z-index: 1;
    transition: width 500ms linear, height 500ms linear;
    transition: all 200ms linear;
}
#back-navbar{
    background: rgb(87, 82, 82, 0.6);
    width: 100vw;
    height: 85px;
    z-index: 3;
    transition: width 500ms linear, height 500ms linear;
    transition: all 200ms linear;
}

.container-underline-texts{
    padding-left: 500px;
}
.w3rcontainer{
    border: 1px solid #6945c3;
    border-radius: 100px;
}
.hover-underline-animation {
    color: white;
    display: inline-block;
    position: relative;
}
.hover-underline-animation:hover {
    color: #c2c0c0;
}

.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2.5px;
    bottom: 0;
    left: 0;
    border-radius: 100px;
    background-color: #6945c3;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

#cursor{
    animation: ease-out 1s FadeShow infinite;
}
@keyframes FadeShow {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 100%;
    }
}
.words_spaces{
    letter-spacing: 5px;
}
.height-100-vw{
    height: 100vw;
}
.height-50-vw{
    height: 50vw;
}
#name-categorie {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.bg-person {
    background-image: linear-gradient(to right, #343434, #575252);
    /*background-image: url("../../assets/home/person.jpg");*/
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.title-name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: red;
    font-size: 80px;
}
.card-shadow{
    box-shadow: 5px 5px 5px #c8c8c8;
}
.card-shadow-hover{
    box-shadow: 2px 2px 5px #c8c8c8;
    transition: width 500ms linear, height 500ms linear;
    transition: all 200ms linear;
}
.card-shadow-hover:hover{
    box-shadow: 5px 5px 5px #c8c8c8, 5px 10px 5px #c8c8c8;
}
.border-primary{
    border-color: #935fd3 !important;
}
.bg-primary{
    background: #935fd3 !important;;
}
.text-para{
    color: #4e4e4e
}
.circle-icon div{
    width: 100px;
    height: 100px;
    border: #935fd3 solid 9px;
    background: #ffffff;
    transition: width 500ms linear, height 500ms linear;
    transition: all 300ms linear;
}
.circle-icon:hover div{
    border: #caade8 solid 9px;
    background: #935fd3;
}
.icon-inside-card{
    color: #1e1e1e;
}
.circle-icon:hover div span .icon-inside-card{
    color: #ffffff;
}
#end_services{
    height: 400px;
    background-image: url("../../assets/home/counters-bg.jpg");
}
#end_services:after{
    content: "";
    height: 400px;
    width: 100%;
    position: absolute;
    background: #935fd3;
    opacity: 50%;
}
.card-end-service{
    width: 90px;
    height: 90px;
    border: solid 10px #f0f0f0;
}
.text-gray{
    color: #f0f0f0;
}
#container-icons-end-services{
    max-width: 100%;
}
#container-icons-end-services .col{
    width: 300px;
}
.card-protofolio {
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
}

.card-protofolio div img {
    max-width: 100%;
    max-height: none;
    transform: scale(1);
    transform-origin: center;
    transition: transform 0.5s ease-in-out;
}

.card-protofolio:hover div img {
    transform: scale(1.3);
    transform-origin: center;
}
.card-protofolio .px-2 .d-flex .flex-fill .plus-circle{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: solid 3px #935fd3;
    color: #935fd3;
    transition: width 500ms linear, height 500ms linear;
    transition: all 300ms linear;
}
.card-protofolio:hover .px-2 .d-flex .flex-fill .plus-circle{
    color: #f5f3f3;
    background: #935fd3;
}
.text-primary{
    color: #935fd3 !important;
}
.plus-circle{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: solid 3px #935fd3;
}
.quate-circle{
    width: 55px;
    height: 55px;
}
.bg-btn-indicators{
    background: #d7d7d7 !important;
    width: 30px;
    border-radius: 30px;
    transition: width 500ms linear, height 500ms linear;
    transition: all 300ms linear;
}
.bg-btn-indicators.active{
    background: #d7d7d7 !important;
    width: 50px;
    transition: width 500ms linear, height 500ms linear;
    transition: all 300ms linear;
}
#quates{
    height: 600px;
}
#quates:after{
    content: "";
    height: 600px;
    width: 100%;
    position: absolute;
    background: #935fd3;
    opacity: 50%;
}
#img-tree-fixed{
    z-index: -1;
    /*width: 100vw;*/
    height: 100vw;
}
.card-blog{
    width: 350px;
    max-width: 90%;
}
.card-blog .card-body h5{
    color: #2d2d2d;
    transition: width 500ms linear, height 500ms linear;
    transition: all 300ms linear;
}
.card-blog:hover .card-body h5{
    color: #935fd3;
}
.contact-card{
    width: 70px;
}
.icon-contact-inside-card{
    background: #f8f9fa;
    color: #464545;
    border: solid 4px #935fd3;
    border-radius: 50%;
    padding: 10px;
    transition: width 500ms linear, height 500ms linear;
    transition: all 300ms linear;
}
.card-contact-icon:hover span .icon-contact-inside-card{
    background: #935fd3;
    color: #f8f9fa;
}
.btn-primary{
    background: #6945c3;
    border: #6945c3;
    color: white;
    font-size: 20px;
    transition: width 500ms linear, height 500ms linear;
    transition: all 200ms linear;
}
.btn-primary:hover{
    color: white;
    box-shadow: 0 0 10px 0.1px #5e3db4;
    background: #7957d0;
}
.btn-primary:focus{
    background: #7452cb !important;
}
.navbar-toggler:focus{
    border: none;
    box-shadow: none;
}
@media (max-width: 1120px){
    .container-underline-texts{
        padding-left: 400px;
    }
}
@media (max-width: 1000px){
    .container-underline-texts{
        padding-left: 10px;
        margin-bottom: auto;
    }
    .navbar-expand-md div{
        width: 100vw
    }
    /*.container-underline-texts{*/
    /*    margin-bottom: 202px;*/
    /*    background: red;*/
    /*}*/
}
@media (max-width: 750px){
    #img-tree-fixed{
        height: 250vw;
    }
    .hover-underline-animation {
        color: white;
        display: block;
        position: relative;
    }
}
@media (max-width: 620px){
    #end_services{
        height: 770px;
    }
    #end_services:after{
        height: 770px;
    }
    .card-blog .card-footer .row .col-8 .d-flex .flex-fill-1 .text-dark{
        font-size: 13px;
    }
    .small-text{
        font-size: 12px;
    }
}
@media (max-width: 400px){
    .hover-underline-animation {
        transform: translate(-100%, 0);
    }
    .container-underline-texts{
        padding-left: 200px;
        margin-bottom: auto;
    }
    .card-blog{
        width: 300px;
        max-width: 95%;
    }
}
